* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    background: #EEE;
    padding: 0 16px;
}

header {
    background-color: #f5ba13;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    margin: auto -16px;
    padding: 16px 32px;
}

header h1 {
    color: #FFF;
    font-family: "McLaren", cursive;
    font-weight: 200;
}

footer {
    position: fixed;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
}

footer p {
    color: #ccc;
    text-align: center;
}

.note {
    background-color: #FFF;
    box-shadow: 0 2px 5px #ccc;
    border-radius: 5px;
    float: left;
    margin: 16px;
    padding: 10px;
    width: fit-content;
}

.note h1 {
    font-size: 1.1rem;
}

.note p {
    font-size: 1.1rem;
    margin: 5px 0;
}